---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Welcome to Astro.">
  <div class="flex flex-col h-full w-screen justify-center">
    <div class="text-4xl p-4">My name is Jakob Evangelista</div>
    <div class="text-2xl p-4">
      I'm a fullstack software engineer and I run 2 companies, PlusEv Solution
      and PlusEv Labs
    </div>
    <div class="flex flex-col p-4">
      <div class="text-xl underline">Links:</div>
      <ul class="p-4">
        <li><a href="https://github.com/jakobevangelista">Github</a></li>
        <br />
        <li><a href="https://instagram.com/jakeplusev">Instagram</a></li><br />
        <li>
          <a href="https://www.youtube.com/@jakeplusev">Youtube</a>
        </li><br />
        <li><a href="https://tiktok.com/@jakeplusev">TikTok</a></li>
      </ul>
    </div>
    <div>
      (this is just the start, lots of changes happening once i come home from
      the gym)
    </div>
  </div>
</Layout>
