---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import "@/styles/globals.css";
import myImage from "../assets/profilePictureCircle.png";
import CollectEmail from "@/components/collectEmail";
---

<Layout title="Jakob Evangelista Portfolio">
  <div class="max-w-2xl">
    <Image
      class="rounded-full h-36 w-36 object-cover bg-zinc-800"
      src={myImage}
      alt="Profile"
    />
    <div class="text-4xl font-bold tracking-tight text-zinc-100 sm:text-5xl">
      Software engineer
    </div>
    <div class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
      I'm Jakob, a software engineer based in Houston. I'm the founder of PlusEv
      Solutions, where we develop technologies that empower businesses to solve
      everyday problems with modern day software systems.
    </div>
    <div class="mt-6 flex gap-6 text-center">
      <a
        href="https://github.com/jakobevangelista"
        class="group -m-1 p-1"
        target="_blank"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#fcfcfc"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-github group-hover:fill-zinc-600"
          ><path
            d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"
          ></path><path d="M9 18c-4.51 2-5-2-7-2"></path></svg
        ></a
      >
      <a
        href="https://www.instagram.com/jakeplusev/"
        class="group -m-1 p-1"
        target="_blank"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#fcfcfc"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-instagram group-hover:fill-zinc-600"
          ><rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect><path
            d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line
            x1="17.5"
            x2="17.51"
            y1="6.5"
            y2="6.5"></line></svg
        ></a
      >

      <a
        href="https://www.youtube.com/@jakeplusev"
        class="group -m-1 p-1"
        target="_blank"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#fcfcfc"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-youtube group-hover:fill-zinc-600"
          ><path
            d="M2.5 17a24.12 24.12 0 0 1 0-10 2 2 0 0 1 1.4-1.4 49.56 49.56 0 0 1 16.2 0A2 2 0 0 1 21.5 7a24.12 24.12 0 0 1 0 10 2 2 0 0 1-1.4 1.4 49.55 49.55 0 0 1-16.2 0A2 2 0 0 1 2.5 17"
          ></path><path d="m10 15 5-3-5-3z"></path></svg
        ></a
      >
      <a
        href="https://www.tiktok.com/@jakeplusev"
        class="group -m-1 p-1"
        target="_blank"
      >
        <svg
          width="24px"
          height="24px"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="group-hover:fill-zinc-600"
          ><path
            d="M20 7.50414C18.5333 7.56942 15.52 6.75998 15.2 3H12.4V13.9666C12.4 17.0999 9.93253 18.4412 8.289 17.2507C6.20169 15.7389 7.60003 12.5958 10.2 12.9874V9.6583C8.20003 9.6583 4 10.4416 4 15.3374C4 21.6041 10.8146 21.4083 12.4 20.5824C14.9798 19.2385 15.6 17.7827 15.6 14.5541C15.6 11.6166 15.6 9.85413 15.6 9.0708C16.2667 9.39719 18.08 10.0891 20 10.2458"
            stroke="#fcfcfc"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path></svg
        >
      </a>
      <a href="https://twitter.com" class="group -m-1 p-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#fcfcfc"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-twitter group-hover:fill-zinc-600"
          ><path
            d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z"
          ></path></svg
        ></a
      >
      <a href="https://discord.gg/zTYHMrWc" class="group -m-1 p-1">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="lucide lucide-twitter group-hover:fill-zinc-600"
        >
          <path
            d="M18.8943 4.34399C17.5183 3.71467 16.057 3.256 14.5317 3C14.3396 3.33067 14.1263 3.77866 13.977 4.13067C12.3546 3.89599 10.7439 3.89599 9.14391 4.13067C8.99457 3.77866 8.77056 3.33067 8.58922 3C7.05325 3.256 5.59191 3.71467 4.22552 4.34399C1.46286 8.41865 0.716188 12.3973 1.08952 16.3226C2.92418 17.6559 4.69486 18.4666 6.4346 19C6.86126 18.424 7.24527 17.8053 7.57594 17.1546C6.9466 16.92 6.34927 16.632 5.77327 16.2906C5.9226 16.184 6.07194 16.0667 6.21061 15.9493C9.68793 17.5387 13.4543 17.5387 16.889 15.9493C17.0383 16.0667 17.177 16.184 17.3263 16.2906C16.7503 16.632 16.153 16.92 15.5236 17.1546C15.8543 17.8053 16.2383 18.424 16.665 19C18.4036 18.4666 20.185 17.6559 22.01 16.3226C22.4687 11.7787 21.2836 7.83202 18.8943 4.34399ZM8.05593 13.9013C7.01058 13.9013 6.15725 12.952 6.15725 11.7893C6.15725 10.6267 6.98925 9.67731 8.05593 9.67731C9.11191 9.67731 9.97588 10.6267 9.95454 11.7893C9.95454 12.952 9.11191 13.9013 8.05593 13.9013ZM15.065 13.9013C14.0196 13.9013 13.1652 12.952 13.1652 11.7893C13.1652 10.6267 13.9983 9.67731 15.065 9.67731C16.121 9.67731 16.985 10.6267 16.9636 11.7893C16.9636 12.952 16.1317 13.9013 15.065 13.9013Z"
            stroke="#fcfcfc"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </a>

      <a href="https://linkedin.com/in/jakobevangelista" class="group -m-1 p-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-linkedin group-hover:fill-zinc-600"
          ><path
            d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
          ></path><rect width="4" height="12" x="2" y="9"></rect><circle
            cx="4"
            cy="4"
            r="2"></circle></svg
        >
      </a>
    </div>
  </div>

  <iframe
    width="560"
    height="315"
    class="mx-auto mt-12"
    src="https://www.youtube.com/embed/4Cy_RT0d4Y8?si=CGFR8TzDUhqBeU8d"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>

  <div class="mx-auto max-w-2xl lg:max-w-5xl mt-20">
    <div
      class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2"
    >
      <div class="flex flex-col gap-16">
        <article class="group relative flex flex-col items-start">
          <h2
            class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100"
          >
            <div
              class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"
            >
            </div><a href="/blog/post/first"
              ><span
                class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"
              ></span><span class="relative z-10">The beginning</span></a
            >
          </h2><time
            class="relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 pl-3.5"
            datetime="2022-09-05"
            ><span
              class="absolute inset-y-0 left-0 flex items-center"
              aria-hidden="true"
              ><span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"
              ></span></span
            >October 23, 2023</time
          ><p
            class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400"
          >
            If you only do what you can, you will never be more than you are
          </p><div
            aria-hidden="true"
            class="relative z-10 mt-4 flex items-center text-sm font-medium text-teal-500"
          >
            Read article<svg
              viewBox="0 0 16 16"
              fill="none"
              aria-hidden="true"
              class="ml-1 h-4 w-4 stroke-current"
              ><path
                d="M6.75 5.75 9.25 8l-2.5 2.25"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path></svg
            >
          </div>
        </article>
      </div><div class="space-y-10 lg:pl-16 xl:pl-24">
        <CollectEmail client:load />
      </div>
    </div>
  </div>
</Layout>
