---
import "@/styles/globals.css";
import BlogPostHeader from "../../../components/BlogPostHeader.astro";
import BlogLayout from "../../../layouts/BlogLayout.astro";
import { getSlugFromPath } from "../../../lib/get-slug-from-path";

export async function getStaticPaths({ paginate, rss }) {
  const allPosts = await Astro.glob("../../../content/posts/*.md");

  const paths = allPosts.map((post) => {
    const slug = getSlugFromPath(post.file);
    return {
      params: {
        slug,
      },
      props: { post },
    };
  });

  return paths;
}

const { post } = Astro.props;
---

<html lang="en">
  <body>
    <BlogLayout title={post.frontmatter.title}>
      <div class="page flex h-full w-full justify-center">
        <div class="max-w-full px-4 pt-8 lg:w-[42rem] lg:px-0 xl:w-[64rem]">
          <a class="pt-8 text-xl" href="/">Jakob's Blog</a>
          <article class="prose prose-lg max-w-none pb-10 lg:prose-xl">
            <main>
              <BlogPostHeader post={post.frontmatter} />
              <post.Content />
            </main>
          </article>
          <div class="pb-8">
            <a href="/">{"<- Back to Home"}</a>
          </div>
        </div>
      </div>
    </BlogLayout>
  </body>
</html>
